/* Mobile First style for screen sizes with viewports between 768px and 1024px
@media (300px <= width <= 767px )  {...}
*/
/* Min width allowed is 300px */


/* all document */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom properties (variables) for custom colors */
/********************* Colour reference chart****************
******************************* variable **************** colour ******** 

Document Background color       --main-bg-color           #12232E
Foreground color                  bb               #abcdef
Heading Text color                bt               #123456
Sub-Heading Text color            bt               #123456
Navigation Buttons Link color     bl               #123456
Navigation Buttons Link hover     bl               #123456
Navigation Buttons Link active    bl               #123456
Paragraph Text color              bt               #123456
Blackquotes Text color            bt               #123456
Articles Background color         bt               #123456
Articles Text color               bt               #123456
Articles Link color               bt               #123456
*/
:root {

  --main-bg-color: #3e546e;
  --second-bg-color: #1874bd;

  --foreground-article-color: #51463d;

  --buttons-color: #97c9f1;
  --buttons-hover-color: #9db0c7;
  --buttons-active-color: #5a7a9f;

  --tabs-color-blue: blue;
  --tabs-color-yellow: yellow;
  --tabs-color-red: red;

  --text-color: #c1cd97;
  --text-color-dark: #000000;
  --text-color-light: #ffffff;
  --text-hover-color: #b7ea00;
  --text-active-color: #c1cd97;

}


html,
body {
  /* height: 100%; */
  margin: 0;
  padding: 0;
  background: var(--main-bg-color);
  color: var(--text-color);
}
body {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  width: 100%;
  min-height: 100vh;
}
main {
  width: 90%;
  max-width: 767px;
  margin-left: auto;
  margin-right: auto;
  flex-grow: 1;
  padding-bottom: 240px;
}
/* Header */
header {
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  box-shadow: 0 0 12px 0 rgb(0 0 0 / 7%), 0 4px 4px rgb(0 0 0 / 5%);
}
.navbar {
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  align-items: center;
  align-content: center;
  padding: 0;
}
/* override Bootstrap */
.container-fluid{
  flex-direction: column;
}
.navbar-dark .navbar-brand, .navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover {
  color: var(--text-hover-color);
}
.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
  color: var(--text-color);
}
.navbar-dark .navbar-nav .nav-link {
  color: var(--text-color-light);
}
.navbar-brand{
  color: var(--text-color);
  margin: 0;
}
.navbar-brand a{
  margin: auto;
  text-align: center;
}
.navbar-toggler {
  width: 100%;
  color: var(--text-color);
  /* border-color: hsla(0,0%,100%,.1); */
}
.nav-link {
  color: var(--text-color);
}
.nav-link:hover {
  color: var(--text-hover-color);
}
#logo-wr {
  width: 100px;
  height: 100px;
  display: block;
  flex-direction: column;
  flex-direction: column;
  /* border: solid 1px #000; */
}
logo-link {
  display: block;
}
#logo-wr img {
  width: 100%;
  height: 100%;
  /* border: solid 1px white; */
  display: flex;
  flex-direction: row;
}
#header-title {
  font-size: 2em;
  color: aqua;
  /* border: solid 1px #000; */
  display: flex;
  flex-direction: column;
}

.nav-wr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* class to center text */
.center-content {
  text-align: center;
}

/* CTA section */
#wiki_callToAction {
  padding: 1rem;
}
#wiki_callToAction > h3 {
  text-align: center;
  /* margin-top: 0.1rem; */
  margin-bottom: 0;
  padding-top: 0.5rem;
}
#wiki_callToAction > p {
  text-align: center;
  /* margin-top: 0.1rem; */
  margin-bottom: 0;
  
}

/* ARTICLES */
article {
  background-color: var(--foreground-article-color);
  max-width: 1024px;
  /* padding: 20px 0 20px 0 ; */
  margin-bottom: 20px;
  border-radius: 5px;
}
article:last-child {
  margin-bottom: 0;
}
article h4 {
  margin: 30px 0 0px 0;
  padding-top: 15px;
}
article p {
  margin-top: 16px;
  line-height: 24px;
  padding: 10px 10px 10px 10px;
}
.art-wr {
  /* background-color: rgba(221, 221, 221, 0.315); */
  background-color: var(--foreground-article-color);
  border-radius: 5px;
}
blockquote {
  font-size: 0.9em;
  font-style: italic;
  padding: 5px 10px 5px 20px;
}

/* TABS colors */
.blue-tab {
  background-color: var(--tabs-color-blue) !important;
}
.yellow-tab {
  background-color: var(--tabs-color-yellow) !important;
}
.red-tab {
  background-color: var(--tabs-color-red) !important;
}
/* Style the tab */
.tab {
  background-color: transparent;
  /* background-color: var(--buttons-color); */
  width: 100%;
  height: 200px;
  margin-right: auto;
}

.sub-tabs {
  overflow: hidden;
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  align-items: center;
  background-color: transparent;
  width: 100%;
}


/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: var(--buttons-color);
  opacity: 0.7;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.8), 0px 0px 2px  rgba(0,0,0,1);
  color: var(--text-color-light);
  letter-spacing: .2rem;
  padding: 21px 16px;
  width: 100%;
  border: none;
  border-radius: 5px;
  margin: 0.5%;
  outline: none;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}
.sub-tabs button {
  
  background-color: var(--buttons-color);
  color: var(--text-color);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 10px;
  margin: 0.5%;
  transition: 0.3s;
  width: 100%;
  height: 100%;
  font-size: 0.7em;
  border-radius: 8px;
}
/* Change background color of buttons on hover */
.tab button:hover, .sub-tabs button:hover {
  background-color: var(--buttons-hover-color);
}
.sub-tabs button:hover {
  /* background-color: #ddd; */
  border-bottom: 3px solid var(--buttons-hover-color);
}

/* Create an active/current "tab button" class */
.tab button.active {
  border-radius: 10px;
  margin: 0.8%;
  

}
.tab button.active, .sub-tabs button.active {
  background-color: var(--buttons-active-color);
  color: var(--text-color-dark);
}

/* Style the tab content */
.tabcontent {
  float: left;
  margin-top: 30px;
  /* padding: 0px 12px 0px 12px; */
  width: 100%;
  border-left: none;
  height: 100%;
}


 /* .sub-tabcontent{
  display: none;
  padding: 6px 12px;
  margin-top: 125px;
  border: 1px solid #ccc;
  border-top: none;
  animation: fadeEffect 1s; /* Fading effect takes 1 second 
}  */

/* Fade in Tabs */
.tabcontent, .sub-tabcontent {
  animation: fadeEffect 1.2s; /* Fading effect takes 1 second */
}
/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Maps */
.streetViewMap iframe {
  width: calc(100% - 10px);
  height: 400px;
}


/* Wikipedia results styling */
.loader {
  display: inline-block;
  align-content: center;
}
#resultsList{
	margin-top:2.5em;
}
.resultItem{
	background: var(--foreground-article-color);
	border-radius:3px;
  margin: 10px 10px 10px 0;
  padding:10px;
  text-align: left;
  white-space: normal;
  font-style: italic;
}
.resultItem:hover{
	border-left:5px solid var(--buttons-active-color);
}
.resultTitle a{
  color: var(--text-color);
}
.resultTitle a:hover{
  color: var(--text-hover-color);
}
.resultSnippet a{
	color:var(--text-color);
}

/* ---------------------------------------------- */
/* Footer */
footer {
  /* background-color: var(--foreground-article-color); */
  /* display: flex; */
  flex-direction: column;
  padding-top: 2.5em;
  margin-bottom: 0;
  margin-top: auto;
  box-shadow: 4px 4px 0 rgb(0 0 0 / 5%), 0 0 12px 4px rgb(0 0 0 / 7%);
  }
.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 100%;
}


/* 
 * map sizes
 */
#map_1 {
  /* max-width: 700px; */
  max-width:90%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  /* padding: 10px; */
  border: solid 1px black;
}

/* Media queries */

/* Boostrap default breakpoint:
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
*/


/* Old style media queries */
/* @media (min-width: 400px) and (max-width: 600px) {
  ...
}
Support: https://caniuse.com/css-media-range-syntax
Rewritten in the new level 4 syntax as: */

/*  Styles for viewports between 768px and 1024px. */
/* @media (768px <= width <= 1023px )  { */
@media (width >= 768px )  {
  body {
    min-width: 768px;
    min-height: 100vh;
  }
  main {
    min-width: 768px;
  }
  .tab {
    background-color: transparent;
    float: left;
    width: 28%;

    height: 200px;
  }
  .tab button {
    margin: 1.8% 3.0% 1.8% 0;
  }
  .tab button.active {
    margin: 1.8% 0 1.8% 3.0%;
    border-right: var(--buttons-active-color);
  }
  .tab button.active > .sub-tabs button {
    background-color: inherit;
  }

  .tabcontent {
    float: left;
    padding: 0px 12px 0px 12px;
    width: 70%;
    border-left: none;
    height: 100%;
    margin: 0;
  }
  .sub-tabcontent {
    width: 100%;
    display: none;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
  }
  .sub-tabs button {
    padding: 14px 16px;
    margin: 0 0.5% 0.5% 0;;
    width: 100%;
    height: 100%;
    font-size: 1.0em;
    border-radius: 5px;
  }

  .footer-content {
    flex-direction: row;
}
}

@media (width >= 976px )  {
  body {
    min-width: 976px;
    min-height: 100vh;
  }
  main {
    min-width: 976px;
  }
}
  /* Styles for viewports with a width of 1024 pixels or greater.
@media (width >= 1024px) {
 
} */