/* all document */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  /* height: 100%; */
  margin: 0;
  padding: 0;
  /* background: #e8cbc0; */
  /* background: #232931; */
  background: #215162;
  color: white;
}
body {
  min-width: 300px;
}
/* Header */
header {
  /* background: #0000b4; */
  border: #006E51 1px solid;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  /* height: 200px; */
}
/* override Bootsrap font color in header */
.navbar-dark .navbar-brand, .navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover {
  /* color: #4191FA; */
  color: #8ed77e;
}
.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
  /* color: #5CA3FF; */
  color: #f9f871;
}
.navbar-dark .navbar-nav .nav-link {
  /* color: hsla(0,0%,100%,.55); */
  /* color: #5CA3FF; */
  color: #34ad8b;
}

/* .bg-dark {
  background-color: rgba(51,45,45,var(--mdb-bg-opacity))!important;
}

.bg-dark {
  --mdb-bg-opacity: 1;
  background-color: rgba(var(--mdb-dark-rgb),var(--mdb-bg-opacity))!important;
} */
#logo-wr {
  width: 100px;
  height: 100px;
  /* margin: 0;
  padding: 0; */
  display: block;
  flex-direction: column;
  flex-direction: column;
  border: solid 1px #000;
}
logo-link {
  display: block;
  /* flex-direction: column; */
}
#logo-wr img {
  width: 100%;
  height: 100%;
  border: solid 1px white;
  display: flex;
  flex-direction: row;
}
#header-title {
  font-size: 2em;
  color: aqua;
  border: solid 1px #000;
  display: flex;
  flex-direction: column;
}

.nav-wr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Main content */
main {
  padding-bottom: 1.5em;
}
/* ---------------------------------------------- */
/* Maps vertical & horizontal tabs */
* {
  box-sizing: border-box;
}

/* Style the tab */
.tab {
  /* float: left; */
  /* border: 1px solid #ccc; */
  background-color: #f1f1f1;
  /* valori pentru desktop in media queries */
  /* width: 30%;
  height: 100%; */
  width: 100%;
  /* margin-left: auto; */
  margin-right: auto;
  height: 200px;
  /* margin: 5px 10px 5px 10px; */
}
.sub-tabs {
  overflow: hidden;
  display: inline-flex;
  /* display: flex; */
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  align-items: center;
  /* float: left; */
  /* margin-top: 25px; */
  /* border: 1px solid #ccc; */
  /* background-color: #f1f1f1; */
  background-color: transparent;

  /* valori pentru desktop in media queries */
  /* width: 30%;
  height: 100%; */
  width: 100%;
}


/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 21px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}
.sub-tabs button {
  /* display: inline-block; */
  /* display: table-cell; */
  /* background-color: inherit; */
  background-color: rgb(145, 145, 145);
  /* float: left; */
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  margin: 0.5%;
  transition: 0.3s;
  /* width: 30%; */
  width: 100%;
  height: 100%;
  font-size: 0.8em;
  /* min-height: 60px; */
  border-radius: 8px;
}
/* Change background color of buttons on hover */
.tab button:hover, .sub-tabs button:hover {
  background-color: #ddd;
}
.sub-tabs button:hover {
  /* background-color: #ddd; */
  border-bottom: 3px solid red;
}
/* .tab-hor button:hover {
  background-color: #ddd;
} */
/* Create an active/current "tab button" class */
.tab button.active, .sub-tabs button.active {
  background-color: #ccc;
}
/* .tab-hor button.active {
  background-color: #ccc;
} */
/* Style the tab content */
.tabcontent {
  float: left;
  margin-top: 30px;
  padding: 0px 12px 0px 12px;
  /* valoare pentru desktop view */
  /* width: 70%; */
  width: 100%;
  border-left: none;
  height: 100%;
  /* min-height: 100%; */
}

/* not used!!!!!!! */
.tabcontent-hor {
  display: none;
  padding: 6px 12px;
  margin-top: 125px;
  border: 1px solid #ccc;
  border-top: none;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Fade in Tabs */
/* .tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
} */
.tabcontent, .sub-tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}
/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Wikipedia results styling */
.loader {
  display: inline-block;
  align-content: center;
}
#resultsList{
	margin-top:2.5em;
}
.resultItem{
	background: #f8f5f1;
	border-radius:3px;
  	margin: 10px 10px 10px 0;
  	padding:10px;
  	text-align: left;
  	white-space: normal;
  	font-style: italic;
}
.resultItem:hover{
	border-left:5px solid #443328;
}
.resultTitle{

}
.resultSnippet a{
	color:#443328;
}

/* ---------------------------------------------- */
/* Footer */
footer {
  /* position: absolute; */
  flex-direction: column;
  padding-top: 1.5em;
  margin-bottom: 0;
}
.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 100%;
}


/* 
 * map sizes
 */
#map_1 {
  /* max-width: 700px; */
  max-width:90%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  /* padding: 10px; */
  border: solid 1px black;
}
/* #map_2 {
  width: 700px;
  height: 500px;
  margin-left: 80px;
  border: solid 1px black;
} */

/* Media queries */
