@import url("https://fonts.googleapis.com/css2?family=GFS+Didot&family=Merriweather:wght@300;400;700&family=Roboto:wght@300;400&display=swap");
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* COLOR THEME: https://icolorpalette.com/imagepalette/color-palette-ideas-from-sky-afterglow-red-at-morning-image-11 */

:root {
    /* ---COLOR THEME----------------- */
    /* DOMINANT color:*/
    --dominant-color: rgb(36, 35, 49);
    /* COMPLEMENTARY color: */
    --complimentary-color: rgb(0, 117, 196);
    /* ACCENT color:  */
    /* --accent-color: #efa00b; */
    --accent-color: rgb(239, 160, 11);
    /* Call-To-Action color:  */
    /* --cta-color: #c33c54; */
    --cta-color: rgb(195, 60, 84);
    /* Text colors:  */
    /* --text-color: #fbfefb; */
    --text-color: rgb(251, 254, 251);
    /* --link-color: #097ddb; */
    /* --link-color: #fbfefb; */
    --link-color: rgb(251, 254, 251);
    /* --link-hover-color: #c33c54; */
    --link-hover-color: rgb(245, 102, 128);
    /* --link-active-color: #efa00b; */
    --link-active-color: rgb(239, 160, 11);
    /* special color themes */
    --articles-bg-blue-color: rgba(9, 125, 219, 0.09);
    --articles-bg-dark-color: rgba(36, 35, 49, 0.09);
    /* ---FONTS----------------- */
    /* HEADER Title */
    --header-title-font: "GFS Didot", serif;
    /* Heading Font */
    --heading-font: "Merriweather", serif;
    /* Sub-heading font */
    --sub-heading-font: "Merriweather", serif;
    /* Paragraph font */
    --paragraph-font: "GFS Didot", serif;
}

html,
body {
    font-family: var(--paragraph-font);
    font-size: min(max(15px, 4vw), 18px);
    font-weight: 400;
    text-align: justify;
    text-justify: inter-word;
    margin: 0;
    padding: 0;
    background-color: rgba(36, 35, 49, 0.88);
    color: var(--text-color);
}

body {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: 100%;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--accent-color);
}

main {
    width: 90%;
    min-height: calc(80vh - 130px);
    max-width: 767px;
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;
}

.center-it {
    padding: 0;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

a {
    color: var(--link-color);
}

a:hover {
    color: var(--link-hover-color);
    transition: 0.3s;
}

a:active {
    color: var(--link-active-color);
}


/* ----------------HEADER------------------ */

header {
    font-family: var(--header-title-font);
    font-size: min(max(20px, 4vw), 36px);
    font-weight: 700;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    box-shadow: 0 0 12px 0 rgb(0 0 0 / 7%), 0 4px 4px rgb(0 0 0 / 5%);
    background-color: var(--dominant-color);
}

.navbar {
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    align-items: center;
    align-content: center;
    padding: 0;
}


/* Override Bootstrap defaults*/

.container-fluid {
    flex-direction: column;
}

.navbar-dark .navbar-brand,
.navbar-dark .navbar-brand:focus,
.navbar-dark .navbar-brand:hover {
    color: var(--text-color);
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show>.nav-link {
    box-shadow: 10px 10px 40px var(--complimentary-color) inset, 1px 1px 10px var(--cta-color);
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--text-color);
}

.navbar-brand {
    font-size: min(max(18px, 4vw), 32px);
    margin: 0;
}

.navbar-brand a {
    color: var(--link-color);
    margin: auto;
    text-align: center;
}

.navbar-toggler {
    width: 100%;
    color: var(--text-color);
}

.navbar-collapse {
    text-align: center;
    width: 100%;
}

.logo-img-filtering {
    height: 6rem;
    filter: opacity(0.5) drop-shadow(0 0 0 var(--text-color));
    margin-top: 0.7rem;
}

.nav-link {
    opacity: 0.5;
    color: var(--link-color);
    width: 100%;
    font-size: min(max(16px, 6vw), 20px);
    text-transform: uppercase;
}

.nav-item {
    min-width: 150px;
    width: 100%;
    opacity: 0.8;
}

.nav-link.active {
    opacity: 1;
    -webkit-box-shadow: 20px 70px 50px var(--complimentary-color) inset, 0 0 0 var(--accent-color);
    -moz-box-shadow: 20px 70px 50px var(--complimentary-color) inset, 0 0 0 var(--accent-color);
    box-shadow: 20px 70px 50px var(--complimentary-color) inset, 0 0 0 var(--accent-color);
}

.nav-link:hover {
    opacity: 0.9;
    color: var(--link-hover-color);
    -webkit-box-shadow: 70px 70px 70px var(--complimentary-color) inset, 0 0 0 var(--accent-color);
    -moz-box-shadow: 70px 70px 70px var(--complimentary-color) inset, 0 0 0 var(--accent-color);
    box-shadow: 70px 70px 70px var(--complimentary-color) inset, 0 0 0 var(--accent-color);
    border: none;
    border-radius: 4px;
    transition: 0.3s;
}

#logo-wr {
    width: 100px;
    height: 100px;
    display: block;
    flex-direction: column;
    flex-direction: column;
}

.logo-link {
    display: block;
}

#logo-wr img {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#header-title {
    font-size: 2em;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
}

.nav-wr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}


/* special classes to style different elements*/

.center-content {
    text-align: center;
    margin: 30px 0 0 0;
    padding: 15px 0 10px 0;
}

.heading-alignment {
    text-align: center;
    padding: 15px 0 0 0;
}

.center-p {
    font-size: small;
    text-align: center;
    margin: 0;
    letter-spacing: 0.1rem;
}

.align-vert {
    position: inherit;
    margin-top: calc(20vh - 10px) !important;
    margin-bottom: calc(20vh - 10px) !important;
}

.description-p {
    padding: 20px 20px 20px 15px;
    font-size: medium;
    text-align: justify;
    margin: 0;
    letter-spacing: 0.1rem;
}

.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.fa-xmark {
    color: var(--accent-color);
}

.btp-wr {
    text-align: center;
    margin-top: 30px;
}

.fetching-animation {
    max-width: 1024px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.backToTop {
    font-size: small;
    padding: 0.2rem 0.5rem;
    opacity: 0.9;
    text-decoration: none;
    box-shadow: 10px 10px 50px var(--complimentary-color) inset, 0 0 0 var(--accent-color);
    color: var(--text-color);
    border-radius: 5px;
}

.backToTop:hover {
    opacity: 1;
    background-color: #552f1e;
    color: #ece7e1;
    border: 1px solid transparent;
}

.sources-links {
    text-align: center;
}

.sources-links>a {
    font-size: small;
    padding: 0.2rem 0.5rem;
}


/* Override Google Maps infowindow text color */

.gm-style-iw-d>* {
    color: #552f1e;
}


/* ---CTA section------------------------------------------------ */

#wiki_callToAction {
    padding: 1rem;
    background-color: rgba(239, 160, 11, 0.28);
    border-radius: 4px;
    margin: 15px 0.5% 0.5% 0.5%;
}

#wiki_callToAction>h3 {
    text-align: center;
    margin-bottom: 0;
    padding-top: 0.5rem;
}

#wiki_callToAction>p {
    text-align: center;
    margin-bottom: 0;
}


/* CTA Custom Button CSS Button Hover effect code snnipet (https://www.sliderrevolution.com/resources/css-button-hover-effects/) */

.cta-color {
    opacity: 0.7;
    color: var(--dominant-color);
    background-color: var(--accent-color) !important;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    border-radius: 4px;
    border: none;
    text-align: center;
    font-size: 1.7rem;
    transition: all 0.5s;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
}

.cta-color:after {
    content: "»";
    position: absolute;
    opacity: 0;
    bottom: 5px;
    right: -5px;
    transition: 0.3s;
}

.cta-color:hover {
    opacity: 0.9;
    color: var(--complimentary-color);
    padding-right: 44px;
    padding-left: 8px;
}

.cta-color:hover:after {
    opacity: 1;
    right: 10px;
}


/* Figure elements */

figure>img {
    display: block;
    margin: 0 auto;
    padding: 10px 10px 10px 10px;
    max-width: 100%;
}

figure>figcaption {
    text-align: center;
    font-size: small;
    margin: 0;
    padding: 0;
}

.main-png-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
}

.dobrudja-png {
    background-image: url('../images/dobruja_in_europe_map-554-480.png');
    background-size: 600px 520px;
    background-position: center;
    transition: all 1s ease;
    width: 100%;
    height: 100%;
    transform: scale(1);
    position: relative;
    left: 0;
    top: 0;
    transform-origin: 15% 15%;
    -webkit-transform-origin: 15% 15%;
}

.main-png-container:hover .dobrudja-png {
    transform: scale(2);
    -webkit-transform: scale(2);
}
.svg-container {
    display: flex;
    align-items: center;
    align-content: center;
        
}

/* ---ARTICLES------------------------------------------------ */

article {
    max-width: 1024px;
    margin-bottom: 20px;
    border-radius: 5px;
}

article:last-child {
    margin-bottom: 0;
}

article h2 {
    margin: 30px 0 0px 0;
    padding-top: 15px;
}

article p {
    line-height: 24px;
    padding: 0 10px 0 10px;
    text-indent: 20px;
}

.art-wr {
    background-color: var(--articles-bg-blue-color);
    border-radius: 5px;
    margin-top: 15px;
    padding-bottom: 0.8rem;
    ;
}

blockquote {
    font-size: 0.9em;
    font-style: italic;
    padding: 5px 10px 5px 20px;
}


/* Style the buttons that are used to open the tab content */

.sub-tabs {
    overflow: hidden;
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    align-items: center;
    width: 100%;
}

#cities-buttons {
    float: left;
    margin-top: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.tablnk {
    opacity: 0.7;
    font-size: 0.9rem;
    background-color: var(--articles-bg-blue-color);
    box-shadow: 10px 50px 50px var(--complimentary-color) inset, 0 0 20px var(--articles-bg-dark-color);
    color: var(--text-color);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    margin: 0 0.5% 0.5% 0.5%;
    transition: 0.3s;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.tablnk:hover {
    opacity: 0.9;
    font-size: 1.15rem;
    color: var(--link-color);
    background-color: var(--complimentary-color);
    -webkit-box-shadow: 20px 70px 20px var(--complimentary-color) inset, 0 0 0 var(--complimentary-color);
    -moz-box-shadow: 20px 70px 20px var(--complimentary-color) inset, 0 0 0 var(--complimentary-color);
    box-shadow: 20px 70px 20px var(--complimentary-color) inset, 0 0 0 var(--complimentary-color);
    transition: 0.3s;
}

.tablnk.active {
    opacity: 1;
    font-size: 1.1rem;
    padding: 12px 16px;
    text-transform: uppercase;
    background-color: var(--articles-bg-blue-color);
    color: var(--accent-color);
    border-bottom: 1px solid var(--cta-color);
    transition: 0.3s;
    color: var(--accent-color);
}

/* Style the tab content (and add height:100% for full page content) */

.sub-tabs button {
    opacity: 0.7;
    font-size: 0.9rem;
    background-color: var(--articles-bg-blue-color);
    box-shadow: 10px 50px 50px var(--complimentary-color) inset, 0 0 20px var(--articles-bg-dark-color);
    color: var(--text-color);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 10px;
    margin: 0 0.5% 0.5% 0.5%;
    transition: 0.3s;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.sub-tablinks:hover,
.sub-tabs button:hover {
    opacity: 0.9;
    background-color: var(--dominant-color);
    transition: 0.3s;
    font-size: 1.15rem;
}

.sub-tabs button.active {
    opacity: 1;
    background-color: var(--articles-bg-blue-color);
    color: var(--accent-color);
    border-bottom: 1px solid var(--cta-color);
    transition: 0.3s;
}

/* Style the tab content */

.tabcontent {
    float: left;
    margin-top: 30px;
    width: 100%;
    height: 100%;
}

.sub-tabcontent {
    display: none;
    animation: fadeEffect 1s;
}


/* Fade in Tabs */

.tabcontent,
.sub-tabcontent {
    animation: fadeEffect 1.2s;
}

/* Go from zero to full opacity */

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* -----------------CONTACT FORM-------------------- */

.form-item {
    position: relative;
    padding: 0.5% 0 0.5% 0;
}

/* -----------------MAPS-------------------- */

.maps {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 0;
}

#map_1 {
    width: 90%;
    height: 350px;
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.streetViewMap {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px;
}

iframe {
    width: 100%;
    height: 100%;
    align-content: center;
    border-radius: 5px;
}

/* WIKIPEDIA results styling */

.loader {
    display: inline-block;
    align-content: center;
}

#resultsList {
    margin-top: 2.5em;
}

.resultItem {
    background: var(--articles-bg-blue-color);
    border-radius: 3px;
    margin: 10px 10px 10px 0;
    padding: 10px;
    text-align: left;
    white-space: normal;
    font-style: italic;
}

.resultItem:hover {
    border-left: 3px solid var(--cta-color);
}

.resultTitle a {
    color: var(--accent-color);
}

.resultTitle a:hover {
    color: var(--cta-color);
    transition: 0.3s;
    font-size: 1.9rem;
}

.resultSnippet a {
    color: var(--text-color);
}

/* ---FOOTER------------------------------------------- */

footer {
    background-color: var(--dominant-color);
    flex-direction: column;
    padding-top: .5em;
    box-shadow: 4px 4px 0 rgb(0 0 0 / 5%), 0 0 12px 4px rgba(82, 81, 81, 0.07);
    margin: auto 0 0 0;
}

.foo-social {
    font-size: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 0;
}

.foo-social:hover {
    color: var(--accent-color);
    transition: 0.3s;
}


/* ---Media queries------------------------------------------- */

@media only screen and (max-width: 768px) {
    .main-svg-container {
        display: none !important;
    }

}

@media (width>=768px) {
    body {
        min-width: 768px;
        min-height: 100vh;
    }
    main {
        min-width: 768px;
    }
    .nav-item {
        padding: 0;
        margin: 0 0.5%;
    }
    .navbar-nav {
        margin-left: auto;
        margin-right: auto;
    }
    .nav-link.active {
        border-radius: 5px;
    }
    .main-svg-container {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    .svg-container {
        overflow: hidden !important;
        height: 450px;
    }
    .main-png-container {
        display: none;
    }
    .sub-tabcontent {
        width: 100%;
        display: inline;
        animation: fadeEffect 1s;
    }
    .sub-tabs button {
        padding: 14px 16px;
        width: 100%;
        height: 100%;
        font-size: 1rem;
        border-radius: 5px;
    }
    .tablnk.active,
    .sub-tabs button.active {
        font-size: 1.1rem;
    }
    .foo-cont {
        margin: 0 auto 0 auto;
        width: 100%;
        max-width: 767px;
    }
}

@media (width>=976px) {
    body {
        min-width: 976px;
        min-height: 100vh;
    }
    main {
        min-width: 976px;
    }
}